<!DOCTYPE html>
<html lang="en">

    <% include partials/head.html %>

<body>

    <% include partials/navbar.html %>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="animated bounceIn"
                    src="https://github.com/FaztWeb/first-node-express-app/blob/master/src/public/img/pews-logo.png?raw=true" alt="Pews logo">
                </div>
            </div>
        </div>
    </header>

    <!-- Section One -->

    <div class="container-fluid id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most subscriber channel</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quis molestiae quo repudiandae repellat veniam tempore eos explicabo, architecto dolorem? Similique, quod consequatur, facilis harum, saepe in inventore repudiandae delectus eius tempora ipsam rem ullam aliquid voluptatum perferendis perspiciatis corrupti.</p>
            </div>
        </div>
    </div>

    <% include partials/footer.html %>
    <% include partials/jsBs.html %>
</body>

</html>